<div class='user_show_container'> 
  <div class='headline_container'>
    <div class="image_container" style="width: 15rem; height: 15rem;">
      <% if @user.photo %>
        <img src="<%= @user.photo %>" class="" >
      <% else %>
        <p> No image found </p>
      <% end %>
    </div>
    <div class="content_show_container">
      <h1 class="">User Name: <%= @user.name %></h1>  
      <h6 class="">Number of posts: <span><%= @user.posts_counter %></span></h6>
    </div>
  </div>

  <div class="user_posts">
    <h2>Posts</h2>
    <% @user.recent_posts.each do |post| %>
      <div class='posts_list'>
        <h3><%= link_to post.title, user_post_path(@user, post) %></h3>
        <%= post.text %> <br> <br>
        Comments: <%= post.comments_counter %>
        Likes: <%= post.likes_counter %>
      </div>
      <% post.comments.each do |comment| %>
        <div class='posts_list'>
          <h3><%= @user.name %>: <%= comment.text %></h3>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="pagination_container">
<%= link_to "Create Post", new_user_post_path(@user), class: "post_create" %>
    

  </div>
  
</div>
